.admn{
    background-color: #e7e7e7;
    min-height: 1150px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.admn-input{
    min-width: 300px;
    min-height:30px;
    border: none;
    font-size: 25px;
}
.admn-input:focus{
    border: 2px solid green;
}
.to-column{
    display: flex;
    flex-direction: column;
    gap:20px;
}
.photo-uploaded{
    max-width: 400px;
}