.pagenot-wrap{
    margin: 0 auto;
    padding: 40px;
    border-radius: 35px;
    width: fit-content;
    background-color: rgba(0,255,0,0.4);
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pagenot-p{
    color: white;
    margin-top: 20px;
    font-weight: 700;
    font-size: 23px;
}